<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <ul class="layui-nav">
        <li class="layui-nav-item">
          <a href="">首页</a>
          <!-- <span class="layui-badge">9</span> -->
        </li>
        <li class="layui-nav-item">
          <a href="">个人中心</a>
          <!-- <span class="layui-badge-dot"></span> -->
        </li>
        <li class="layui-nav-item" lay-unselect="">
          <% if(userName)  { %>
            <p>
              <%= userName %>
            </p>
            <% } else { %>
            <a href="/login">登录</a>
              <%} %>
          <!-- <img src="//t.cn/RCzsdCq" class="layui-nav-img"> -->
        </li>
      </ul>
</body>
</html>